nsridynamicssandbox/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "nsridynamicssandbox"
		},
		"Dynamics1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Dynamics1'"
		},
		"Error Output_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Error Output'"
		},
		"nsridynamicssandox_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'nsridynamicssandox'"
		},
		"sandbox_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sandbox'"
		},
		"sandboxdatalake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'sandboxdatalake'"
		},
		"training_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'training'"
		},
		"Dynamics1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "crmadmin@searescue.org.za"
		},
		"Error Output_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://nsridynamicssandbox.dfs.core.windows.net/"
		},
		"nsridynamicssandox_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "crmadmin@searescue.org.za"
		},
		"sandbox_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "crmadmin@searescue.org.za"
		},
		"sandboxdatalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://nsridynamicssandbox.dfs.core.windows.net/"
		},
		"training_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "crmadmin@searescue.org.za"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TEST MG Create Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MG Aggregation Create Files",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"donororder": {},
									"transaction": {},
									"mgaggregationfile": {}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MG Aggregation Create Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Monthly Giving Aggregation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Aggregate Donor Orders",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Monthly Giving Aggregate DOs",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"donororder": {},
									"bankdetails": {},
									"accounttransactions": {},
									"ContactTransactions": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 16,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Create CSV File with Transactionid",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Aggregate Donor Orders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MG Aggregation Create Files",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"donororder": {},
									"transaction": {},
									"mgaggregationfile": {}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 16,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Update DO with Transactionid",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Create CSV File with Transactionid",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CommonDataServiceForAppsSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cog_donororderid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cog_donororderid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "cog_transactionid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cog_donortransaction",
											"type": "Guid"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "file_mg_aggregation",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SandboxDonorOrder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Monthly Giving Aggregate DOs')]",
				"[concat(variables('factoryId'), '/dataflows/MG Aggregation Create Files')]",
				"[concat(variables('factoryId'), '/datasets/file_mg_aggregation')]",
				"[concat(variables('factoryId'), '/datasets/SandboxDonorOrder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tutorial Copy Data Only Contact')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataContact",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"additionalColumns": [
									{
										"name": "Target",
										"value": "account"
									}
								],
								"query": "<fetch mapping=\"logical\" output-format=\"xml-platform\" version=\"1.0\" no-lock=\"false\" distinct=\"true\"><entity name=\"contact\"><attribute name=\"fullname\"/><attribute name=\"entityimage_url\"/><attribute name=\"parent_contactid\"/><order descending=\"false\" attribute=\"cog_contactnumber\"/><attribute name=\"parentcustomerid\"/><attribute name=\"telephone1\"/><attribute name=\"fullname\"/><attribute name=\"emailaddress1\"/><attribute name=\"mobilephone\"/><attribute name=\"jobtitle\"/><attribute name=\"nsri_extensionnumber\"/><attribute name=\"salutation\"/><attribute name=\"cog_contactnumber\"/><attribute name=\"lastname\"/><attribute name=\"firstname\"/><attribute name=\"contactid\"/><filter type=\"and\"><condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/><condition attribute=\"fullname\" operator=\"eq\" value=\"Peter Jones\"/></filter></entity></fetch>"
							},
							"sink": {
								"type": "CommonDataServiceForAppsSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert",
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "contactid",
											"type": "Guid"
										},
										"sink": {
											"name": "contactid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "parentcustomerid",
											"type": "Guid"
										},
										"sink": {
											"name": "parentcustomerid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "firstname",
											"type": "String"
										},
										"sink": {
											"name": "firstname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "lastname",
											"type": "String"
										},
										"sink": {
											"name": "lastname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Target",
											"type": "String"
										},
										"sink": {
											"name": "parentcustomerid@EntityReference"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DataverseEntityContactSandbox",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DataverseEntityContactTraining",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataverseEntityContactSandbox')]",
				"[concat(variables('factoryId'), '/datasets/DataverseEntityContactTraining')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST Monthly Giving Aggregation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Monthly Giving Aggregation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Monthly Giving Aggregate DOs",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"donororder": {},
									"bankdetails": {},
									"accounttransactions": {},
									"ContactTransactions": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Monthly Giving Aggregate DOs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataverseEntityContactSandbox')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sandbox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "contact"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandbox')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataverseEntityContactTraining')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "training",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "contact"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/training')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/file_mg_aggregation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sandboxdatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "monthlygivingaggregation.csv",
						"folderPath": "Monthly Giving",
						"fileSystem": "datafiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "cog_donororderid",
						"type": "String"
					},
					{
						"name": "cog_transactionid",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandboxdatalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SandboxDonorOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sandbox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "cog_donororder"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandbox')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sandbox_BankDetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sandbox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "cog_bankdetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandbox')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sandbox_Transaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sandbox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "cog_transaction"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandbox')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dynamics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Dynamics",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://nsritraining.crm4.dynamics.com/",
					"authenticationType": "Office365",
					"username": "[parameters('Dynamics1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Dynamics1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Error Output')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Error Output_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Error Output_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/nsridynamicssandox')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Dynamics",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://nsridev.crm4.dynamics.com",
					"authenticationType": "Office365",
					"username": "[parameters('nsridynamicssandox_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('nsridynamicssandox_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sandbox')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://nsridev.crm4.dynamics.com/",
					"authenticationType": "Office365",
					"username": "[parameters('sandbox_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sandbox_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sandboxdatalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('sandboxdatalake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('sandboxdatalake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/training')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://nsritraining.crm4.dynamics.com/",
					"authenticationType": "Office365",
					"username": "[parameters('training_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('training_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MG Aggregation Create Files')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Contact, MG, Bankdetails",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SandboxDonorOrder",
								"type": "DatasetReference"
							},
							"name": "donororder"
						},
						{
							"dataset": {
								"referenceName": "Sandbox_Transaction",
								"type": "DatasetReference"
							},
							"name": "transaction"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "file_mg_aggregation",
								"type": "DatasetReference"
							},
							"name": "mgaggregationfile"
						}
					],
					"transformations": [
						{
							"name": "joindonorordertransaction"
						},
						{
							"name": "DerivedDonorOrderKey"
						},
						{
							"name": "DerivedTransactionKey"
						},
						{
							"name": "submittecdolumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {@odata.etag} as string,",
						"          cog_account as string,",
						"          cog_bankdetails as string,",
						"          cog_contact as string,",
						"          transactioncurrencyid as string,",
						"          cog_competition as string,",
						"          cog_donationamount as string,",
						"          cog_donororderfrom as string,",
						"          cog_donororderid as string,",
						"          cog_name as string,",
						"          cog_paymentmethod as string,",
						"          cog_paymenttype as string,",
						"          cog_totalticketamount as string,",
						"          statecode as string,",
						"          statuscode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: '<fetch version=\"1.0\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\">\\n     <entity name=\"cog_donororder\">\\n          <attribute name=\"cog_name\"/>\\n          <attribute name=\"cog_donororderid\"/>\\n          <attribute name=\"cog_contact\"/>\\n          <attribute name=\"cog_account\"/>\\n          <attribute name=\"statuscode\"/>\\n          <attribute name=\"cog_bankdetails\"/>\\n          <attribute name=\"cog_competition\"/>\\n          <attribute name=\"cog_paymentmethod\"/>\\n          <attribute name=\"cog_paymenttype\"/>\\n          <attribute name=\"cog_donororderfrom\"/>\\n          <attribute name=\"cog_totalticketamount\"/>\\n          <order attribute=\"cog_donationamount\"/>\\n          <attribute name=\"statecode\"/>\\n          <filter type=\"and\">\\n               <condition attribute=\"statuscode\" operator=\"in\">\\n                    <value>181310001</value>\\n                    <value>2</value>\\n               </condition>\\n               <condition attribute=\"cog_competition\" operator=\"eq\" value=\"181310001\"/>\\n          </filter>\\n     </entity>\\n</fetch>',",
						"     manifestType: 'model') ~> donororder",
						"source(output(",
						"          {@odata.etag} as string,",
						"          cog_account as string,",
						"          cog_bankdetails as string,",
						"          cog_contact as string,",
						"          transactioncurrencyid as string,",
						"          cog_division as string,",
						"          cog_paymentmethod as string,",
						"          cog_transactionamount as string,",
						"          cog_transactionfrom as string,",
						"          cog_transactionid as string,",
						"          cog_transactionno as string,",
						"          statuscode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: '<fetch version=\"1.0\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\">\\n     <entity name=\"cog_transaction\">\\n          <attribute name=\"cog_transactionno\"/>\\n          <attribute name=\"cog_account\"/>\\n          <attribute name=\"cog_contact\"/>\\n          <attribute name=\"cog_transactionamount\"/>\\n          <attribute name=\"statuscode\"/>\\n          <attribute name=\"cog_paymentmethod\"/>\\n          <order attribute=\"cog_transactionno\" descending=\"true\"/>\\n          <attribute name=\"cog_transactionid\"/>\\n          <attribute name=\"cog_division\"/>\\n          <attribute name=\"cog_bankdetails\"/>\\n          <attribute name=\"cog_transactionfrom\"/>          \\n          <filter type=\"and\">\\n               <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\"/>\\n          </filter>\\n     </entity>\\n</fetch>',",
						"     manifestType: 'model') ~> transaction",
						"DerivedDonorOrderKey, DerivedTransactionKey join(DonorOrderKey == TransactionKey,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joindonorordertransaction",
						"donororder derive(DonorOrderKey = toString(cog_donororderfrom)+iif(equals(isNull(cog_bankdetails),true()),' ',cog_bankdetails)+toString(cog_competition)+iif(cog_donororderfrom=='181310000',cog_contact,cog_account)+toString(cog_paymentmethod),",
						"          Target = 'cog_transaction') ~> DerivedDonorOrderKey",
						"transaction derive(TransactionKey = toString(cog_transactionfrom)+iif(equals(isNull(cog_bankdetails),true()),' ',cog_bankdetails)+toString(cog_division)+iif(cog_transactionfrom=='181310000',cog_contact,cog_account)+toString(cog_paymentmethod)) ~> DerivedTransactionKey",
						"joindonorordertransaction derive(new_statuscodeconsubmitted = iif(equals(donororder@statuscode,'181310001'),'181310013', '181310001'),",
						"          new_statuscodepmsubmitted = iif(equals(donororder@statuscode,'2'),'181310019', '2'),",
						"          new_statuscodeconsuccessonceoff = iif(equals(donororder@statuscode,'181310001'),'181310013', '181310001'),",
						"          new_statuscodeconsuccessmonthly = iif(equals(donororder@statuscode,'181310001'),'181310013', '181310001')) ~> submittecdolumns",
						"submittecdolumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          cog_donororderid as string,",
						"          cog_transactionid as string",
						"     ),",
						"     partitionFileNames:['monthlygivingaggregation.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> mgaggregationfile"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SandboxDonorOrder')]",
				"[concat(variables('factoryId'), '/datasets/Sandbox_Transaction')]",
				"[concat(variables('factoryId'), '/datasets/file_mg_aggregation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Monthly Giving Aggregate DOs')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Contact, MG, Bankdetails",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SandboxDonorOrder",
								"type": "DatasetReference"
							},
							"name": "donororder"
						},
						{
							"dataset": {
								"referenceName": "Sandbox_BankDetail",
								"type": "DatasetReference"
							},
							"name": "bankdetails"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Sandbox_Transaction",
								"type": "DatasetReference"
							},
							"name": "accounttransactions"
						},
						{
							"dataset": {
								"referenceName": "Sandbox_Transaction",
								"type": "DatasetReference"
							},
							"name": "ContactTransactions"
						}
					],
					"transformations": [
						{
							"name": "joindonororderbankdetails"
						},
						{
							"name": "From"
						},
						{
							"name": "aggregatefromaccount"
						},
						{
							"name": "aggregatefromcontact"
						},
						{
							"name": "TransactionAmount"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {@odata.etag} as string,",
						"          cog_account as string,",
						"          cog_bankdetails as string,",
						"          cog_contact as string,",
						"          transactioncurrencyid as string,",
						"          cog_competition as string,",
						"          cog_donationamount as string,",
						"          cog_donororderfrom as string,",
						"          cog_donororderid as string,",
						"          cog_name as string,",
						"          cog_paymentmethod as string,",
						"          cog_paymenttype as string,",
						"          cog_totalticketamount as string,",
						"          statecode as string,",
						"          statuscode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: '<fetch version=\"1.0\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\">\\n     <entity name=\"cog_donororder\">\\n          <attribute name=\"cog_name\"/>\\n          <attribute name=\"cog_donororderid\"/>\\n          <attribute name=\"cog_contact\"/>\\n          <attribute name=\"cog_account\"/>\\n          <attribute name=\"statuscode\"/>\\n          <attribute name=\"cog_bankdetails\"/>\\n          <attribute name=\"cog_competition\"/>\\n          <attribute name=\"cog_paymentmethod\"/>\\n          <attribute name=\"cog_paymenttype\"/>\\n          <attribute name=\"cog_donororderfrom\"/>\\n          <attribute name=\"cog_totalticketamount\"/>\\n          <order attribute=\"cog_donationamount\"/>\\n          <attribute name=\"statecode\"/>\\n          <filter type=\"and\">\\n               <condition attribute=\"statuscode\" operator=\"in\">\\n                    <value>181310001</value>\\n                    <value>2</value>\\n               </condition>\\n               <condition attribute=\"cog_competition\" operator=\"eq\" value=\"181310001\"/>\\n          </filter>\\n     </entity>\\n</fetch>',",
						"     manifestType: 'model') ~> donororder",
						"source(output(",
						"          {@odata.etag} as string,",
						"          cog_bank as string,",
						"          cog_contactid as string,",
						"          cog_accountholder as string,",
						"          cog_accountnumber as string,",
						"          cog_accounttype as string,",
						"          cog_bankdetailsid as string,",
						"          cog_branchcode as string,",
						"          cog_cvc as string,",
						"          cog_expireydate as string,",
						"          statecode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: '<fetch version=\"1.0\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\">\\n     <entity name=\"cog_bankdetails\">\\n          <attribute name=\"cog_accountnumber\"/>\\n          <attribute name=\"cog_expireydate\"/>\\n          <attribute name=\"cog_cvc\"/>\\n          <attribute name=\"cog_branchcode\"/>\\n          <attribute name=\"cog_bank\"/>\\n          <attribute name=\"cog_accounttype\"/>\\n          <attribute name=\"cog_contactid\"/>\\n          <attribute name=\"cog_bankdetailsid\"/>\\n          <attribute name=\"cog_accountholder\"/>\\n          <attribute name=\"statecode\"/>\\n          <filter type=\"and\">\\n               <condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\\n               <condition attribute=\"cog_contactid\" operator=\"not-null\"/>\\n          </filter>\\n     </entity>\\n</fetch>',",
						"     manifestType: 'model') ~> bankdetails",
						"donororder, bankdetails join(cog_bankdetails == cog_bankdetailsid,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joindonororderbankdetails",
						"TransactionAmount split(cog_donororderfrom=='181310001',",
						"     cog_donororderfrom=='181310000',",
						"     disjoint: false) ~> From@(FromAccount, FromContact)",
						"From@FromAccount aggregate(groupBy(cog_competition,",
						"          cog_account,",
						"          cog_paymentmethod,",
						"          cog_bankdetails,",
						"          cog_donororderfrom),",
						"     cog_transactionamount = sum(toInteger(cog_transactionamount)),",
						"          each(match(name=='cog_accountnumber'||name=='cog_expireydate'||name=='cog_cvc'||name=='cog_branchcode'||name=='cog_bank'||name=='cog_accounttype'||name=='cog_accountholder'||name=='cog_contact'||name=='cog_transactiondate'), $$ = first($$))) ~> aggregatefromaccount",
						"From@FromContact aggregate(groupBy(cog_competition,",
						"          cog_contact,",
						"          cog_paymentmethod,",
						"          cog_bankdetails,",
						"          cog_donororderfrom),",
						"     cog_transactionamount = sum(toInteger(cog_transactionamount)),",
						"          each(match(name=='cog_accountnumber'||name=='cog_expireydate'||name=='cog_cvc'||name=='cog_branchcode'||name=='cog_bank'||name=='cog_accounttype'||name=='cog_accountholder'||name=='cog_transactiondate'), $$ = first($$))) ~> aggregatefromcontact",
						"joindonororderbankdetails derive(cog_transactionamount = iif(equals(isNull(cog_donationamount),true()),cog_totalticketamount,cog_donationamount),",
						"          cog_transactiondate = currentUTC()) ~> TransactionAmount",
						"aggregatefromaccount sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     mapColumn(",
						"          cog_division = cog_competition,",
						"          cog_account,",
						"          cog_contact,",
						"          cog_paymentmethod,",
						"          cog_bankdetails,",
						"          cog_transactionamount,",
						"          cog_transactionfrom = cog_donororderfrom,",
						"          cog_transactiondate,",
						"          cog_bank,",
						"          cog_accounttype,",
						"          cog_branchcode,",
						"          cog_cvc,",
						"          cog_expireydate,",
						"          cog_accountholder,",
						"          cog_accountnumber",
						"     )) ~> accounttransactions",
						"aggregatefromcontact sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          cog_division = cog_competition,",
						"          cog_contact,",
						"          cog_paymentmethod,",
						"          cog_bankdetails,",
						"          cog_transactionamount,",
						"          cog_transactionfrom = cog_donororderfrom,",
						"          cog_bank,",
						"          cog_accountholder,",
						"          cog_accountnumber,",
						"          cog_accounttype,",
						"          cog_branchcode,",
						"          cog_cvc,",
						"          cog_expireydate,",
						"          cog_transactiondate",
						"     )) ~> ContactTransactions"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SandboxDonorOrder')]",
				"[concat(variables('factoryId'), '/datasets/Sandbox_BankDetail')]",
				"[concat(variables('factoryId'), '/datasets/Sandbox_Transaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tutorial Account Sample')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "sandbox",
								"type": "LinkedServiceReference"
							},
							"name": "accountsample"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "training",
								"type": "LinkedServiceReference"
							},
							"name": "trainingaccount"
						}
					],
					"transformations": [
						{
							"name": "alterRow1"
						}
					],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'dynamics',",
						"     format: 'dynamicsformat',",
						"     entity: 'account',",
						"     timeout: 30,",
						"     query: '<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\"><entity name=\"account\"><attribute name=\"entityimage_url\"/><attribute name=\"parentaccountid\"/><attribute name=\"name\"/><attribute name=\"address1_city\"/><order attribute=\"name\" descending=\"false\"/><attribute name=\"primarycontactid\"/><attribute name=\"telephone1\"/><filter type=\"and\"><condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/><condition attribute=\"accountid\" operator=\"eq\" value=\"{4b66761c-0758-ed11-9562-0022489b74fe}\" uiname=\"Peter Company\" uitype=\"account\"/></filter><link-entity alias=\"accountprimarycontactidcontactcontactid\" name=\"contact\" from=\"contactid\" to=\"primarycontactid\" link-type=\"outer\" visible=\"false\"><attribute name=\"emailaddress1\"/></link-entity><attribute name=\"accountcategorycode\"/><attribute name=\"accountid\"/></entity></fetch>') ~> accountsample",
						"accountsample alterRow(upsertIf(true())) ~> alterRow1",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          cog_car_onceoffnooftktstatusname as string,",
						"          address2_latitude as double,",
						"          cog_windirectsourcename as string,",
						"          cog_sm_rssfeeds as boolean,",
						"          stageid as string,",
						"          cog_qse as boolean,",
						"          cog_mg_onceoffnooftktmarketer as string,",
						"          msa_managingpartneridyominame as string,",
						"          cog_accessdb_stcusno as string,",
						"          createdonbehalfbyyominame as string,",
						"          territoryid as string,",
						"          address2_city as string,",
						"          utcconversiontimezonecode as integer,",
						"          preferredappointmentdaycodename as string,",
						"          cog_transactiontotalcount_date as timestamp,",
						"          followemailname as string,",
						"          cog_mg_onceoffstramtmarketeryominame as string,",
						"          creditlimit_base as decimal(38,4),",
						"          aging30_base as decimal(38,4),",
						"          cog_parentvendornumber as string,",
						"          cog_car_monthlystramtdatecreatedon as timestamp,",
						"          modifiedbyyominame as string,",
						"          cog_mg_monthlystramtpaymentmethod as integer,",
						"          owningbusinessunit as string,",
						"          cog_mg_monthlystramtdateconverted as timestamp,",
						"          transactioncurrencyidname as string,",
						"          address2_line3 as string,",
						"          modifiedbyexternalparty as string,",
						"          address2_stateorprovince as string,",
						"          customersizecode as integer,",
						"          cog_stationid as string,",
						"          address1_city as string,",
						"          cog_car_monthlystramtpaymentmethod as integer,",
						"          cog_mg_onceoffnooftktdatecreatedon as timestamp,",
						"          address2_addresstypecode as integer,",
						"          cog_mg_onceoffnooftktmarketeryominame as string,",
						"          cog_car_monthlystramtstatus as integer,",
						"          cog_car_leadcontact as string,",
						"          modifiedonbehalfbyyominame as string,",
						"          cog_car_monthlynooftktstatus as integer,",
						"          donotphone as boolean,",
						"          cog_integrationstatus as integer,",
						"          openrevenue as decimal(38,2),",
						"          cog_mg_monthlystramtstatus as integer,",
						"          cog_integrationkey as string,",
						"          cog_administrationcontact as string,",
						"          aging60 as decimal(38,2),",
						"          createdbyname as string,",
						"          overriddencreatedon as timestamp,",
						"          cog_car_onceoffnooftktmarketername as string,",
						"          cog_accountclassificationname as string,",
						"          cog_car_monthlynooftktmarketeryominame as string,",
						"          aging60_base as decimal(38,4),",
						"          cog_mg_onceoffstramt_base as decimal(38,2),",
						"          cog_mg_monthlystramtmarketername as string,",
						"          donotpostalmail as boolean,",
						"          cog_competitionpreferencename as string,",
						"          creditonhold as boolean,",
						"          cog_mg_monthlynooftktpaymentmethod as integer,",
						"          originatingleadid as string,",
						"          owninguser as string,",
						"          creditonholdname as string,",
						"          cog_mg_onceoffstramtstatus as integer,",
						"          cog_membership as integer,",
						"          donotbulkpostalmailname as string,",
						"          cog_transactiontotalamount_state as integer,",
						"          cog_mg_monthlynooftktmarketer as string,",
						"          donotpostalmailname as string,",
						"          cog_npodoc_tax_annually as boolean,",
						"          address2_postofficebox as string,",
						"          cog_car_monthlynooftktpaymentmethod as integer,",
						"          cog_npodoc_sendmethodname as string,",
						"          cog_vatnumber as string,",
						"          cog_mg_monthlystrinceptiondate as timestamp,",
						"          cog_copytophysicalname as string,",
						"          telephone3 as string,",
						"          cog_car_monthlystramt_base as decimal(38,2),",
						"          primarycontactid as string,",
						"          cog_donotupsell as boolean,",
						"          cog_mg_leadcontactname as string,",
						"          cog_mg_monthlynooftktdatepaid as timestamp,",
						"          cog_sm_snapchat as boolean,",
						"          adx_createdbyusername as string,",
						"          cog_car_competition as boolean,",
						"          cog_mg_monthlynooftktdateconverted as timestamp,",
						"          territoryidname as string,",
						"          cog_donotupsellname as string,",
						"          address2_addressid as string,",
						"          address2_country as string,",
						"          cog_npodoc_receipt as boolean,",
						"          preferredcontactmethodcodename as string,",
						"          cog_car_onceoffstramtdatecreatedon as timestamp,",
						"          adx_modifiedbyipaddress as string,",
						"          slaname as string,",
						"          cog_sm_pintrestname as string,",
						"          cog_mg_onceoffstramtdatepaid as timestamp,",
						"          createdbyexternalparty as string,",
						"          createdonbehalfby as string,",
						"          cog_carinceptiondate as timestamp,",
						"          cog_car_onceoffnooftktpaymentmethod as integer,",
						"          cog_erpcity as string,",
						"          cog_stationidname as string,",
						"          revenue_base as decimal(38,4),",
						"          cog_accessdb_docusno as string,",
						"          cog_sm_youtube as boolean,",
						"          cog_accountclassification as integer,",
						"          onholdtime as integer,",
						"          cog_paymentmethod as integer,",
						"          cog_mg_monthlynooftktinceptiondate as timestamp,",
						"          cog_npodoc_receiptname as string,",
						"          cog_sm_flickr as boolean,",
						"          cog_administrationaccountyominame as string,",
						"          isprivate as boolean,",
						"          entityimage as string,",
						"          address2_freighttermscodename as string,",
						"          createdbyexternalpartyyominame as string,",
						"          accountratingcodename as string,",
						"          cog_procurementofficer as string,",
						"          numberofemployees as integer,",
						"          cog_sm_pintrest as boolean,",
						"          accountcategorycodename as string,",
						"          cog_car_onceoffstramt as decimal(38,2),",
						"          donotbulkemail as boolean,",
						"          preferredsystemuseridname as string,",
						"          primarycontactidyominame as string,",
						"          aging90_base as decimal(38,4),",
						"          cog_car_monthlynooftkt as integer,",
						"          entityimageid as string,",
						"          cog_address2street4 as string,",
						"          cog_mg_competition as boolean,",
						"          cog_car_monthlystramtmarketer as string,",
						"          cog_car_onceoffstramtdatepaid as timestamp,",
						"          cog_oldtaxcertificaterequired as boolean,",
						"          cog_mg_monthlynooftktpaymentmethodname as string,",
						"          statuscode as integer,",
						"          cog_beelevelname as string,",
						"          modifiedbyexternalpartyyominame as string,",
						"          cog_car_monthlystramtpaymentmethodname as string,",
						"          cog_mg_monthlystramt as decimal(38,2),",
						"          cog_paymenttype as integer,",
						"          cog_qseexpirydate as timestamp,",
						"          owningteam as string,",
						"          cog_ingclient as string,",
						"          cog_mg_monthlynooftktstatusname as string,",
						"          cog_sm_facebook as boolean,",
						"          customertypecode as integer,",
						"          address1_postalcode as string,",
						"          marketingonlyname as string,",
						"          tickersymbol as string,",
						"          cog_windirectsource as integer,",
						"          cog_car_monthlynooftktmarketer as string,",
						"          cog_car_onceoffstramt_base as decimal(38,2),",
						"          cog_transactiontotalamount as decimal(38,2),",
						"          cog_erppostcodename as string,",
						"          opendeals_date as timestamp,",
						"          cog_car_monthlystramtmarketeryominame as string,",
						"          cog_transactionlastamount as decimal(38,2),",
						"          territorycodename as string,",
						"          ownershipcodename as string,",
						"          cog_sm_snapchatname as string,",
						"          cog_mg_onceoffnooftktpaymentmethod as integer,",
						"          address1_telephone1 as string,",
						"          address1_telephone2 as string,",
						"          address2_line1 as string,",
						"          address1_stateorprovince as string,",
						"          processid as string,",
						"          cog_erpvendornumber as string,",
						"          address1_longitude as double,",
						"          modifiedon as timestamp,",
						"          sharesoutstanding as integer,",
						"          accountratingcode as integer,",
						"          cog_donorcareid as string,",
						"          industrycodename as string,",
						"          cog_car_leadcontactname as string,",
						"          paymenttermscodename as string,",
						"          createdonbehalfbyname as string,",
						"          cog_sm_linkedinname as string,",
						"          opendeals as integer,",
						"          cog_sm_rssfeedsname as string,",
						"          address2_telephone1 as string,",
						"          participatesinworkflow as boolean,",
						"          cog_administrationaccount as string,",
						"          stockexchange as string,",
						"          openrevenue_state as integer,",
						"          cog_car_onceoffstramtdatecanceled as timestamp,",
						"          shippingmethodcode as integer,",
						"          modifiedonbehalfby as string,",
						"          statecodename as string,",
						"          industrycode as integer,",
						"          paymenttermscode as integer,",
						"          address2_primarycontactname as string,",
						"          cog_npodoc_equityname as string,",
						"          cog_sm_twitter as boolean,",
						"          emailaddress3 as string,",
						"          marketcap_base as decimal(38,4),",
						"          emailaddress1 as string,",
						"          address1_line1 as string,",
						"          cog_processslastartdate as timestamp,",
						"          address1_freighttermscodename as string,",
						"          address1_utcoffset as integer,",
						"          preferredsystemuseridyominame as string,",
						"          originatingleadidyominame as string,",
						"          masteraccountidname as string,",
						"          cog_sm_linkedin as boolean,",
						"          cog_transactionlastdate as timestamp,",
						"          entityimage_url as string,",
						"          cog_car_monthlystramt as decimal(38,2),",
						"          address1_freighttermscode as integer,",
						"          msdyn_segmentidname as string,",
						"          address1_fax as string,",
						"          masterid as string,",
						"          cog_address1street4 as string,",
						"          donotphonename as string,",
						"          cog_dmdreference as string,",
						"          address1_county as string,",
						"          cog_mg_monthlynooftkt as integer,",
						"          cog_bee as boolean,",
						"          cog_mg_onceoffstramtpaymentmethodname as string,",
						"          cog_car_onceoffstramtmarketeryominame as string,",
						"          msdyn_gdproptoutname as string,",
						"          cog_car_leadcontactyominame as string,",
						"          accountclassificationcodename as string,",
						"          cog_taxnumber as string,",
						"          cog_car_monthlynooftktstatusname as string,",
						"          cog_mg_monthlynooftktmarketername as string,",
						"          address2_shippingmethodcode as integer,",
						"          lastonholdtime as timestamp,",
						"          cog_importkey as string,",
						"          statecode as integer,",
						"          cog_mg_onceoffstramtdateconverted as timestamp,",
						"          cog_datasource as integer,",
						"          accountcategorycode as integer,",
						"          versionnumber as long,",
						"          territorycode as integer,",
						"          cog_mg_monthlystramtstatusname as string,",
						"          modifiedby as string,",
						"          cog_car_onceoffstramtpaymentmethod as integer,",
						"          cog_car_onceoffstramtpaymentmethodname as string,",
						"          new_magazinetemp as string,",
						"          cog_registrationnumber as string,",
						"          owningbusinessunitname as string,",
						"          cog_administeredname as string,",
						"          cog_administered as boolean,",
						"          owneridyominame as string,",
						"          cog_windirectcustomerid as string,",
						"          businesstypecodename as string,",
						"          cog_erpblocked as integer,",
						"          cog_transactionlastamount_base as decimal(38,2),",
						"          marketingonly as boolean,",
						"          address1_telephone3 as string,",
						"          cog_processslaenddate as timestamp,",
						"          cog_mg_monthlynooftktmarketeryominame as string,",
						"          defaultpricelevelidname as string,",
						"          parentaccountidname as string,",
						"          telephone2 as string,",
						"          cog_integrationstatusname as string,",
						"          cog_datasourcename as string,",
						"          merged as boolean,",
						"          adx_modifiedbyusername as string,",
						"          cog_erpcountryregioncode as string,",
						"          cog_erpvatnumber as string,",
						"          cog_mg_onceoffnooftktstatus as integer,",
						"          participatesinworkflowname as string,",
						"          lastusedincampaign as timestamp,",
						"          donotbulkemailname as string,",
						"          cog_sm_youtubename as string,",
						"          telephone1 as string,",
						"          cog_transactiontotalamount_date as timestamp,",
						"          defaultpricelevelid as string,",
						"          cog_shorecrewmembershipname as string,",
						"          primarycontactidname as string,",
						"          exchangerate as decimal(38,10),",
						"          cog_procurementofficername as string,",
						"          aging30 as decimal(38,2),",
						"          cog_mg_onceoffnooftktdateconverted as timestamp,",
						"          cog_copytophysical as boolean,",
						"          statuscodename as string,",
						"          address2_telephone2 as string,",
						"          address2_freighttermscode as integer,",
						"          cog_car_onceoffnooftktmarketer as string,",
						"          cog_transactiontotalcount_state as integer,",
						"          ownershipcode as integer,",
						"          businesstypecode as integer,",
						"          cog_npodoc_tax_annuallyname as string,",
						"          cog_erpvendorapprovalstatus as integer,",
						"          cog_transactiontotalamount_base as decimal(38,2),",
						"          revenue as decimal(38,2),",
						"          cog_car_competitionname as string,",
						"          address1_addressid as string,",
						"          createdbyexternalpartyname as string,",
						"          cog_sm_twittername as string,",
						"          shippingmethodcodename as string,",
						"          cog_mg_onceoffstramtmarketername as string,",
						"          accountclassificationcode as integer,",
						"          customertypecodename as string,",
						"          cog_erpcountryregioncodename as string,",
						"          aging90 as decimal(38,2),",
						"          address1_composite as string,",
						"          address1_shippingmethodcodename as string,",
						"          entityimage_timestamp as long,",
						"          teamsfollowed as integer,",
						"          timespentbymeonemailandmeetings as string,",
						"          donotemail as boolean,",
						"          parentaccountidyominame as string,",
						"          cog_car_monthlynooftktdatecreatedon as timestamp,",
						"          yominame as string,",
						"          cog_erppostcode as string,",
						"          cog_competitionpreference as integer,",
						"          cog_erpblockedname as string,",
						"          cog_sm_facebookname as string,",
						"          address1_latitude as double,",
						"          cog_shorecrewnoofyears as integer,",
						"          cog_npodoc_equity as boolean,",
						"          cog_npodoc_sendmethod as integer,",
						"          cog_administrationaccountname as string,",
						"          cog_mg_monthlynooftktdatecanceled as timestamp,",
						"          address2_longitude as double,",
						"          cog_npodoc_tax_trans as boolean,",
						"          cog_paymentmethodname as string,",
						"          cog_mg_onceoffstramt as decimal(38,2),",
						"          cog_mg_onceoffnooftktstatusname as string,",
						"          cog_hasinternetname as string,",
						"          address1_country as string,",
						"          cog_car_monthlynooftktdatepaid as timestamp,",
						"          mergedname as string,",
						"          primarysatoriid as string,",
						"          cog_procurementofficeryominame as string,",
						"          slainvokedid as string,",
						"          address1_shippingmethodcode as integer,",
						"          owneridtype as string,",
						"          traversedpath as string,",
						"          address1_primarycontactname as string,",
						"          cog_administrationcontactname as string,",
						"          address2_line2 as string,",
						"          followemail as boolean,",
						"          importsequencenumber as integer,",
						"          opendeals_state as integer,",
						"          cog_car_onceoffstramtstatus as integer,",
						"          cog_hasinternet as boolean,",
						"          cog_mg_competitionname as string,",
						"          cog_car_monthlystramtdatecanceled as timestamp,",
						"          openrevenue_date as timestamp,",
						"          cog_eme as boolean,",
						"          donotfax as boolean,",
						"          msdyn_gdproptout as boolean,",
						"          address1_line3 as string,",
						"          cog_mg_onceoffnooftktmarketername as string,",
						"          preferredcontactmethodcode as integer,",
						"          cog_mg_monthlystramtdatecanceled as timestamp,",
						"          preferredequipmentid as string,",
						"          cog_car_monthlynooftktdatecanceled as timestamp,",
						"          preferredequipmentidname as string,",
						"          description as string,",
						"          cog_car_onceoffnooftktdatepaid as timestamp,",
						"          cog_beelevel as integer,",
						"          preferredserviceid as string,",
						"          slaid as string,",
						"          cog_mg_onceoffstramtmarketer as string,",
						"          masteraccountidyominame as string,",
						"          cog_car_onceoffnooftktdatecanceled as timestamp,",
						"          cog_sm_flickrname as string,",
						"          cog_communicationlanguage as integer,",
						"          ftpsiteurl as string,",
						"          cog_mg_monthlynooftktdatecreatedon as timestamp,",
						"          donotfaxname as string,",
						"          cog_mg_onceoffnooftktdatepaid as timestamp,",
						"          modifiedbyexternalpartyname as string,",
						"          isprivatename as string,",
						"          cog_mg_leadcontactyominame as string,",
						"          cog_car_monthlynooftktpaymentmethodname as string,",
						"          msdyn_salesaccelerationinsightidname as string,",
						"          cog_emeexpirydate as timestamp,",
						"          cog_car_onceoffstramtstatusname as string,",
						"          cog_mg_monthlystramtpaymentmethodname as string,",
						"          createdon as timestamp,",
						"          customersizecodename as string,",
						"          donotemailname as string,",
						"          address1_upszone as string,",
						"          primarytwitterid as string,",
						"          cog_mg_onceoffstramtpaymentmethod as integer,",
						"          cog_slastartdate as timestamp,",
						"          cog_mg_monthlystramtmarketeryominame as string,",
						"          slainvokedidname as string,",
						"          msa_managingpartnerid as string,",
						"          cog_oldtaxcertificaterequiredname as string,",
						"          cog_car_monthlystramtdatepaid as timestamp,",
						"          cog_transactiontotalcount as integer,",
						"          cog_shorecrewmembership as integer,",
						"          parentaccountid as string,",
						"          modifiedbyname as string,",
						"          address2_county as string,",
						"          preferredserviceidname as string,",
						"          modifiedonbehalfbyname as string,",
						"          cog_mg_onceoffnooftktpaymentmethodname as string,",
						"          msa_managingpartneridname as string,",
						"          donotsendmarketingmaterialname as string,",
						"          createdby as string,",
						"          cog_paymenttypename as string,",
						"          cog_slaenddate as timestamp,",
						"          cog_mg_monthlystramtmarketer as string,",
						"          donotbulkpostalmail as boolean,",
						"          cog_car_onceoffstramtmarketername as string,",
						"          cog_accessdb_lngclient as string,",
						"          address2_shippingmethodcodename as string,",
						"          cog_car_onceoffstramtmarketer as string,",
						"          cog_medicalaccount as boolean,",
						"          address2_fax as string,",
						"          cog_mg_onceoffnooftktdatecanceled as timestamp,",
						"          originatingleadidname as string,",
						"          address2_upszone as string,",
						"          cog_beeexpirydate as timestamp,",
						"          cog_car_monthlynooftktmarketername as string,",
						"          preferredsystemuserid as string,",
						"          cog_mg_onceoffstramtstatusname as string,",
						"          cog_mg_leadcontact as string,",
						"          cog_car_onceoffnooftktdatecreatedon as timestamp,",
						"          cog_qsename as string,",
						"          cog_car_onceoffnooftkt as integer,",
						"          cog_erpvendorcontact as string,",
						"          createdbyyominame as string,",
						"          owneridname as string,",
						"          cog_sm_instagram as boolean,",
						"          adx_createdbyipaddress as string,",
						"          cog_membershipname as string,",
						"          name as string,",
						"          address1_postofficebox as string,",
						"          cog_mg_monthlystramt_base as decimal(38,2),",
						"          cog_emename as string,",
						"          cog_car_monthlystramtstatusname as string,",
						"          cog_car_onceoffnooftktpaymentmethodname as string,",
						"          creditlimit as decimal(38,2),",
						"          openrevenue_base as decimal(38,2),",
						"          address2_addresstypecodename as string,",
						"          cog_car_monthlystramtmarketername as string,",
						"          msdyn_salesaccelerationinsightid as string,",
						"          cog_communicationlanguagename as string,",
						"          address1_line2 as string,",
						"          address1_addresstypecode as integer,",
						"          preferredappointmentdaycode as integer,",
						"          preferredappointmenttimecode as integer,",
						"          cog_car_onceoffnooftktstatus as integer,",
						"          marketcap as decimal(38,2),",
						"          accountnumber as string,",
						"          cog_car_onceoffnooftktmarketeryominame as string,",
						"          address1_addresstypecodename as string,",
						"          sic as string,",
						"          accountid as string,",
						"          transactioncurrencyid as string,",
						"          cog_mg_monthlynooftktstatus as integer,",
						"          address2_utcoffset as integer,",
						"          cog_erpvendorapprovalstatusname as string,",
						"          address2_name as string,",
						"          cog_mg_onceoffstramtdatecreatedon as timestamp,",
						"          msdyn_segmentid as string,",
						"          cog_medicalaccountname as string,",
						"          cog_npodoc_tax_transname as string,",
						"          cog_beename as string,",
						"          cog_mg_onceoffnooftkt as integer,",
						"          cog_mg_monthlystramtdatecreatedon as timestamp,",
						"          donotsendmm as boolean,",
						"          address2_telephone3 as string,",
						"          preferredappointmenttimecodename as string,",
						"          ownerid as string,",
						"          cog_mg_onceoffstramtdatecanceled as timestamp,",
						"          fax as string,",
						"          timezoneruleversionnumber as integer,",
						"          address1_name as string,",
						"          websiteurl as string,",
						"          cog_mg_monthlystramtdatepaid as timestamp,",
						"          cog_administrationcontactyominame as string,",
						"          address2_composite as string,",
						"          cog_sm_instagramname as string,",
						"          address2_postalcode as string,",
						"          emailaddress2 as string,",
						"          {cog_mg_onceoffnooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {owninguser@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_mg_monthlynooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {createdonbehalfby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_procurementofficer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_car_monthlystramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {owningteam@aadobjectid_membershiptype@azureactivedirectoryobjectid} as string,",
						"          {owningteam@aadobjectid_membershiptype@membershiptype} as integer,",
						"          {cog_car_monthlynooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_administrationaccount@cog_no@cog_erpvendornumber} as string,",
						"          {modifiedonbehalfby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {masterid@cog_no@cog_erpvendornumber} as string,",
						"          {modifiedby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_car_onceoffnooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_mg_onceoffstramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {msa_managingpartnerid@cog_no@cog_erpvendornumber} as string,",
						"          {parentaccountid@cog_no@cog_erpvendornumber} as string,",
						"          {createdby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_mg_monthlystramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_car_onceoffstramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {preferredsystemuserid@aadobjectid@azureactivedirectoryobjectid} as string",
						"     ),",
						"     store: 'dynamics',",
						"     format: 'dynamicsformat',",
						"     entity: 'account',",
						"     timeout: 30,",
						"     deletable: false,",
						"     insertable: false,",
						"     updateable: false,",
						"     upsertable: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> trainingaccount"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandbox')]",
				"[concat(variables('factoryId'), '/linkedServices/training')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tutorial Contact Sample')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "sandbox",
								"type": "LinkedServiceReference"
							},
							"name": "sandboxcontact"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "training",
								"type": "LinkedServiceReference"
							},
							"name": "trainingcontact"
						}
					],
					"transformations": [
						{
							"name": "alterRow1"
						},
						{
							"name": "parentcustomeridEntityReference"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {@odata.etag} as string,",
						"          parentcustomerid as string,",
						"          cog_contactnumber as string,",
						"          contactid as string,",
						"          emailaddress1 as string,",
						"          firstname as string,",
						"          fullname as string,",
						"          lastname as string,",
						"          mobilephone as string,",
						"          salutation as string,",
						"          telephone1 as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     store: 'dynamics',",
						"     format: 'dynamicsformat',",
						"     entity: 'contact',",
						"     timeout: 30,",
						"     query: '<fetch mapping=\"logical\" output-format=\"xml-platform\" version=\"1.0\" no-lock=\"false\" distinct=\"true\"><entity name=\"contact\"><attribute name=\"fullname\"/><attribute name=\"entityimage_url\"/><attribute name=\"parent_contactid\"/><order descending=\"false\" attribute=\"cog_contactnumber\"/><attribute name=\"parentcustomerid\"/><attribute name=\"telephone1\"/><attribute name=\"fullname\"/><attribute name=\"emailaddress1\"/><attribute name=\"mobilephone\"/><attribute name=\"jobtitle\"/><attribute name=\"nsri_extensionnumber\"/><attribute name=\"salutation\"/><attribute name=\"cog_contactnumber\"/><attribute name=\"lastname\"/><attribute name=\"firstname\"/><attribute name=\"contactid\"/><filter type=\"and\"><condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/><condition attribute=\"fullname\" operator=\"eq\" value=\"Peter Jones\"/></filter></entity></fetch>') ~> sandboxcontact",
						"parentcustomeridEntityReference alterRow(upsertIf(true())) ~> alterRow1",
						"sandboxcontact derive(Targetparentcustomerlookup = \"account\") ~> parentcustomeridEntityReference",
						"alterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          cog_car_monthlynooftktstatusname as string,",
						"          parentcustomerid as string,",
						"          donotphone as boolean,",
						"          adx_profilealertinstructions as string,",
						"          cog_transactiontotalcount_date as timestamp,",
						"          haschildrencode as integer,",
						"          cog_covidvaccine as boolean,",
						"          cog_car_monthlynooftktdatecreatedon as timestamp,",
						"          cog_mg_monthlystramt_base as decimal(38,2),",
						"          cog_inc_veh_events_total as decimal(38,2),",
						"          cog_car_monthlystramtpaymentmethodname as string,",
						"          adx_identity_lastsuccessfullogin as timestamp,",
						"          adx_identity_logonenabledname as string,",
						"          businesscard as string,",
						"          preferredappointmenttimecode as integer,",
						"          adx_identity_newpassword as string,",
						"          cog_initials as string,",
						"          address3_postofficebox as string,",
						"          assistantname as string,",
						"          address3_county as string,",
						"          cog_administered as boolean,",
						"          cog_sm_youtube as boolean,",
						"          cog_car_competitionname as string,",
						"          customersizecodename as string,",
						"          entityimage_url as string,",
						"          modifiedbyname as string,",
						"          modifiedonbehalfbyname as string,",
						"          address1_latitude as double,",
						"          donotfaxname as string,",
						"          cog_externalmarketerleadname as string,",
						"          address2_primarycontactname as string,",
						"          cog_mg_onceoffnooftktmarketername as string,",
						"          participatesinworkflow as boolean,",
						"          parent_contactidname as string,",
						"          preferredsystemuserid as string,",
						"          cog_mg_monthlynooftktinceptiondate as timestamp,",
						"          description as string,",
						"          cog_mg_onceoffstramtmarketername as string,",
						"          cog_mg_monthlynooftkt as integer,",
						"          cog_car_monthlystramtdatepaid as timestamp,",
						"          gendercode as integer,",
						"          creditonholdname as string,",
						"          cog_mp_emailcampaigns as boolean,",
						"          anniversary as timestamp,",
						"          address2_composite as string,",
						"          cog_mg_monthlystramtdatecreatedon as timestamp,",
						"          cog_transactionlastamount_base as decimal(38,2),",
						"          cog_religionname as string,",
						"          utcconversiontimezonecode as integer,",
						"          address1_primarycontactname as string,",
						"          cog_contactclassificationname as string,",
						"          accountidyominame as string,",
						"          adx_identity_username as string,",
						"          msdyn_isminorwithparentalconsentname as string,",
						"          cog_yellowfeverinoculationdate as timestamp,",
						"          cog_inc_craft_maint_count as decimal(38,0),",
						"          cog_shorecrewmembershipname as string,",
						"          websiteurl as string,",
						"          cog_mg_monthlystramtstatus as integer,",
						"          cog_unityaccesslevel as integer,",
						"          cog_sm_pintrest as boolean,",
						"          cog_dob as timestamp,",
						"          cog_mg_monthlystrinceptiondate as timestamp,",
						"          cog_fitnessrenewalinterval as integer,",
						"          cog_inc_craft_events_total as decimal(38,2),",
						"          cog_hasinternetname as string,",
						"          adx_profilemodifiedon as timestamp,",
						"          cog_mg_onceoffstramtstatus as integer,",
						"          modifiedby as string,",
						"          onholdtime as integer,",
						"          address2_telephone1 as string,",
						"          address2_telephone2 as string,",
						"          cog_transactiontotalamount_base as decimal(38,2),",
						"          entityimage as string,",
						"          address2_stateorprovince as string,",
						"          paymenttermscodename as string,",
						"          cog_transactiontotalcount_state as integer,",
						"          cog_operationalpersonnelstation as string,",
						"          adx_createdbyipaddress as string,",
						"          cog_car_monthlynooftktdatepaid as timestamp,",
						"          cog_idnumber as string,",
						"          cog_inc_base_ops_total as decimal(38,2),",
						"          modifiedbyexternalparty as string,",
						"          cog_mp_sendbirthdayemailname as string,",
						"          address3_longitude as double,",
						"          cog_paymentmethodname as string,",
						"          cog_mg_onceoffnooftktmarketer as string,",
						"          cog_mg_monthlynooftktdatecreatedon as timestamp,",
						"          contactid as string,",
						"          cog_hepatitisbvaccinename as string,",
						"          yomifirstname as string,",
						"          businesscardattributes as string,",
						"          cog_car_onceoffstramtpaymentmethod as integer,",
						"          cog_mg_monthlystramt as decimal(38,2),",
						"          createdbyname as string,",
						"          donotemail as boolean,",
						"          cog_mg_monthlynooftktdatecanceled as timestamp,",
						"          cog_hepatitisbvaccine as boolean,",
						"          marketingonlyname as string,",
						"          address2_shippingmethodcodename as string,",
						"          cog_dutycrew as integer,",
						"          parentcontactidyominame as string,",
						"          msdyn_orgchangestatusname as string,",
						"          createdon as timestamp,",
						"          cog_mg_onceoffnooftktstatusname as string,",
						"          cog_windirectcustomerid as string,",
						"          cog_inc_craft_maint_total as decimal(38,2),",
						"          cog_resigndate as timestamp,",
						"          adx_modifiedbyusername as string,",
						"          cog_car_onceoffnooftktpaymentmethod as integer,",
						"          cog_inc_base_ops_count as decimal(38,0),",
						"          telephone2 as string,",
						"          cog_inc_veh_maint_total as decimal(38,2),",
						"          msa_managingpartneridyominame as string,",
						"          preferredsystemuseridyominame as string,",
						"          aging90_base as decimal(38,4),",
						"          msdyn_gdproptoutname as string,",
						"          cog_covidvaccinename as string,",
						"          business2 as string,",
						"          address2_utcoffset as integer,",
						"          accountidname as string,",
						"          annualincome_base as decimal(38,4),",
						"          cog_miscrewid as string,",
						"          traversedpath as string,",
						"          msdyn_segmentidname as string,",
						"          cog_mg_monthlynooftktdatepaid as timestamp,",
						"          address2_addresstypecodename as string,",
						"          address2_shippingmethodcode as integer,",
						"          gendercodename as string,",
						"          address3_name as string,",
						"          adx_identity_lockoutenabledname as string,",
						"          donotsendmm as boolean,",
						"          cog_paymentmethod as integer,",
						"          cog_mg_onceoffstramtdatecreatedon as timestamp,",
						"          createdbyexternalparty as string,",
						"          donotpostalmailname as string,",
						"          donotfax as boolean,",
						"          company as string,",
						"          cog_car_monthlynooftkt as integer,",
						"          cog_accessdb_stcusno as string,",
						"          cog_inc_veh_events_count as decimal(38,0),",
						"          cog_mg_monthlystramtmarketername as string,",
						"          cog_bequestorname as string,",
						"          address1_postalcode as string,",
						"          address2_city as string,",
						"          lastname as string,",
						"          address2_line3 as string,",
						"          cog_hasinternet as boolean,",
						"          preferredappointmentdaycodename as string,",
						"          callback as string,",
						"          followemail as boolean,",
						"          cog_mg_onceoffnooftkt as integer,",
						"          cog_taxdonoronly as boolean,",
						"          cog_donorcareid as string,",
						"          owningteam as string,",
						"          address2_fax as string,",
						"          cog_mg_monthlystramtmarketer as string,",
						"          parentcontactidname as string,",
						"          msdyn_portaltermsagreementdate as timestamp,",
						"          cog_mg_onceoffstramt as decimal(38,2),",
						"          masterid as string,",
						"          address2_freighttermscode as integer,",
						"          preferredserviceid as string,",
						"          cog_car_onceoffstramtpaymentmethodname as string,",
						"          customertypecodename as string,",
						"          cog_npodoc_receipt as boolean,",
						"          cog_windirectsourcename as string,",
						"          msdyn_disablewebtrackingname as string,",
						"          cog_taxdonoronlyname as string,",
						"          createdonbehalfbyname as string,",
						"          territorycodename as string,",
						"          cog_car_monthlystramtmarketer as string,",
						"          address1_county as string,",
						"          cog_car_onceoffnooftktdatecreatedon as timestamp,",
						"          adx_identity_emailaddress1confirmed as boolean,",
						"          adx_profilealert as boolean,",
						"          address1_country as string,",
						"          cog_operationalpersonnelstationname as string,",
						"          modifiedonbehalfby as string,",
						"          cog_inc_craft_ops_day as decimal(38,2),",
						"          assistantphone as string,",
						"          address2_line2 as string,",
						"          address1_stateorprovince as string,",
						"          adx_identity_mobilephoneconfirmed as boolean,",
						"          cog_inc_base_maint_count as decimal(38,0),",
						"          address3_addressid as string,",
						"          modifiedbyexternalpartyname as string,",
						"          cog_medicalrenewalname as string,",
						"          adx_identity_emailaddress1confirmedname as string,",
						"          msdyn_orgchangestatus as integer,",
						"          entityimageid as string,",
						"          cog_mp_ticket_optionsname as string,",
						"          address3_city as string,",
						"          cog_inc_craft_ops_total as decimal(38,2),",
						"          address2_postalcode as string,",
						"          cog_inc_craft_events_night as decimal(38,2),",
						"          cog_serviceduration_state as integer,",
						"          slainvokedidname as string,",
						"          fullname as string,",
						"          cog_knownasname as string,",
						"          cog_racename as string,",
						"          telephone1 as string,",
						"          subscriptionid as string,",
						"          adx_confirmremovepasswordname as string,",
						"          cog_agedifference as decimal(38,10),",
						"          createdby as string,",
						"          cog_administeredname as string,",
						"          cog_administrationcontactyominame as string,",
						"          donotpostalmail as boolean,",
						"          stageid as string,",
						"          cog_medical_doctor as string,",
						"          leadsourcecodename as string,",
						"          yomilastname as string,",
						"          cog_misservicebreak as string,",
						"          cog_car_monthlystramtpaymentmethod as integer,",
						"          msdyn_gdproptout as boolean,",
						"          cog_inc_craft_training_day as decimal(38,2),",
						"          cog_inc_craft_events_count as decimal(38,0),",
						"          cog_mg_monthlystramtpaymentmethodname as string,",
						"          cog_paymenttypename as string,",
						"          adx_profilealertname as string,",
						"          spousesname as string,",
						"          timespentbymeonemailandmeetings as string,",
						"          address3_line2 as string,",
						"          address3_addresstypecode as integer,",
						"          managername as string,",
						"          owningbusinessunitname as string,",
						"          cog_mg_competition as boolean,",
						"          cog_stationidname as string,",
						"          accountrolecode as integer,",
						"          cog_serviceawardstatus as integer,",
						"          cog_yellowfevervaccine as boolean,",
						"          adx_publicprofilecopy as string,",
						"          cog_driverslicensecode as string,",
						"          cog_car_monthlynooftktpaymentmethodname as string,",
						"          cog_car_onceoffstramtdatecanceled as timestamp,",
						"          fax as string,",
						"          shippingmethodcodename as string,",
						"          cog_sm_instagramname as string,",
						"          cog_sm_rssfeedsname as string,",
						"          cog_npodoc_sendmethodname as string,",
						"          cog_serviceduration as integer,",
						"          customersizecode as integer,",
						"          msdyn_isminorname as string,",
						"          address2_freighttermscodename as string,",
						"          address1_line1 as string,",
						"          emailaddress2 as string,",
						"          address3_upszone as string,",
						"          childrensnames as string,",
						"          cog_mp_smscampaignsname as string,",
						"          statecodename as string,",
						"          address1_addresstypecode as integer,",
						"          cog_inc_veh_ops_total as decimal(38,2),",
						"          cog_mp_emailcampaignsname as string,",
						"          cog_car_onceoffnooftkt as integer,",
						"          mergedname as string,",
						"          cog_mp_magazinename as string,",
						"          cog_sm_twittername as string,",
						"          defaultpricelevelidname as string,",
						"          cog_mg_onceoffstramt_base as decimal(38,2),",
						"          cog_car_monthlystramtstatus as integer,",
						"          cog_stationid as string,",
						"          managerphone as string,",
						"          cog_mg_monthlynooftktstatusname as string,",
						"          cog_contactnumber as string,",
						"          cog_mg_onceoffnooftktdatepaid as timestamp,",
						"          msdyn_disablewebtracking as boolean,",
						"          cog_mg_onceoffnooftktpaymentmethodname as string,",
						"          parent_contactidyominame as string,",
						"          address1_shippingmethodcodename as string,",
						"          createdonbehalfby as string,",
						"          cog_car_onceoffstramtmarketer as string,",
						"          cog_car_monthlynooftktstatus as integer,",
						"          owninguser as string,",
						"          cog_sm_linkedin as boolean,",
						"          preferredappointmenttimecodename as string,",
						"          shippingmethodcode as integer,",
						"          cog_datasourcename as string,",
						"          educationcodename as string,",
						"          numberofchildren as integer,",
						"          externaluseridentifier as string,",
						"          address2_addressid as string,",
						"          cog_inc_base_events_count as decimal(38,0),",
						"          cog_mp_appealletter_options as integer,",
						"          cog_unityaccesslevelname as string,",
						"          merged as boolean,",
						"          address1_line2 as string,",
						"          cog_mp_datebdemailsent as timestamp,",
						"          cog_donotupsellname as string,",
						"          address1_postofficebox as string,",
						"          creditonhold as boolean,",
						"          createdonbehalfbyyominame as string,",
						"          mobilephone as string,",
						"          cog_paymenttype as integer,",
						"          cog_age as integer,",
						"          nsri_extensionnumber as string,",
						"          address1_freighttermscode as integer,",
						"          cog_covidinoculationdate as timestamp,",
						"          address1_fax as string,",
						"          address3_freighttermscode as integer,",
						"          createdbyexternalpartyname as string,",
						"          cog_mg_onceoffnooftktdatecanceled as timestamp,",
						"          cog_transactiontotalcount as integer,",
						"          owneridtype as string,",
						"          adx_createdbyusername as string,",
						"          cog_car_onceoffnooftktmarketeryominame as string,",
						"          createdbyyominame as string,",
						"          cog_mg_monthlystramtstatusname as string,",
						"          cog_car_competition as boolean,",
						"          cog_copytophysical as boolean,",
						"          cog_transactiontotalamount_date as timestamp,",
						"          cog_car_onceoffstramtdatecreatedon as timestamp,",
						"          adx_identity_securitystamp as string,",
						"          address3_postalcode as string,",
						"          cog_npodoc_equity as boolean,",
						"          originatingleadid as string,",
						"          address3_line1 as string,",
						"          cog_sm_flickrname as string,",
						"          cog_mg_monthlynooftktmarketeryominame as string,",
						"          adx_identity_logonenabled as boolean,",
						"          cog_mp_smscampaigns as boolean,",
						"          cog_car_onceoffnooftktmarketername as string,",
						"          cog_mp_ticket_options as integer,",
						"          participatesinworkflowname as string,",
						"          cog_mg_monthlystramtdatepaid as timestamp,",
						"          cog_alternatecontact as string,",
						"          preferredsystemuseridname as string,",
						"          territorycode as integer,",
						"          address3_country as string,",
						"          cog_faultyemailaddressdate as timestamp,",
						"          cog_medicalcontactname as string,",
						"          cog_mp_appeallettername as string,",
						"          cog_sm_pintrestname as string,",
						"          cog_inc_veh_training_total as decimal(38,2),",
						"          cog_mp_appealletter_optionsname as string,",
						"          overriddencreatedon as timestamp,",
						"          msdyn_isminorwithparentalconsent as boolean,",
						"          statuscode as integer,",
						"          cog_taxnumber as string,",
						"          isprivate as boolean,",
						"          adx_preferredlanguageid as string,",
						"          mastercontactidname as string,",
						"          cog_accessdb_postofficeonly as string,",
						"          slaname as string,",
						"          cog_mg_monthlynooftktmarketername as string,",
						"          cog_mobilephone2 as string,",
						"          cog_taxdonordate as timestamp,",
						"          isbackofficecustomername as string,",
						"          cog_car_onceoffnooftktpaymentmethodname as string,",
						"          cog_inc_craft_training_night as decimal(38,2),",
						"          cog_mp_magazine_optionsname as string,",
						"          cog_mp_sendbirthdayemail as boolean,",
						"          salutation as string,",
						"          address1_longitude as double,",
						"          cog_inc_craft_ops_count as decimal(38,0),",
						"          cog_npodoc_tax_trans as boolean,",
						"          address3_primarycontactname as string,",
						"          cog_mg_monthlynooftktpaymentmethod as integer,",
						"          familystatuscodename as string,",
						"          cog_npodoc_sendmethod as integer,",
						"          cog_sm_facebookname as string,",
						"          donotbulkemail as boolean,",
						"          cog_transactionlastdate as timestamp,",
						"          cog_lastfitnessdate as timestamp,",
						"          employeeid as string,",
						"          cog_car_onceoffstramtmarketeryominame as string,",
						"          birthdate as timestamp,",
						"          modifiedonbehalfbyyominame as string,",
						"          cog_transactiontotalamount as decimal(38,2),",
						"          haschildrencodename as string,",
						"          address1_utcoffset as integer,",
						"          cog_medicalaidprinciplemember as string,",
						"          parentcustomeridname as string,",
						"          cog_communicationlanguage as integer,",
						"          cog_car_monthlynooftktdatecanceled as timestamp,",
						"          cog_car_monthlystramtmarketeryominame as string,",
						"          cog_inc_craft_training_count as decimal(38,0),",
						"          cog_car_onceoffstramtmarketername as string,",
						"          governmentid as string,",
						"          cog_bloodgroup as string,",
						"          cog_mg_monthlynooftktdateconverted as timestamp,",
						"          cog_mg_monthlystramtmarketeryominame as string,",
						"          cog_datasource as integer,",
						"          slainvokedid as string,",
						"          cog_mp_appealletter as boolean,",
						"          cog_inc_veh_ops_count as decimal(38,0),",
						"          address3_telephone2 as string,",
						"          address3_shippingmethodcode as integer,",
						"          cog_inc_veh_maint_count as decimal(38,0),",
						"          cog_mg_onceoffstramtpaymentmethod as integer,",
						"          cog_importkey as string,",
						"          cog_accessdb_strlistsource as string,",
						"          cog_faultyemailaddress as string,",
						"          adx_modifiedbyipaddress as string,",
						"          adx_identity_locallogindisabled as boolean,",
						"          cog_ageactual as decimal(38,10),",
						"          cog_old_nextfitnessdate as timestamp,",
						"          adx_profileisanonymousname as string,",
						"          cog_accessdbstrcurrentsource as string,",
						"          cog_mg_onceoffstramtdateconverted as timestamp,",
						"          cog_administrationaccount as string,",
						"          entityimage_timestamp as long,",
						"          cog_windirectsource as integer,",
						"          cog_mp_anniversary_options as integer,",
						"          middlename as string,",
						"          department as string,",
						"          address3_composite as string,",
						"          cog_competitionpreferencename as string,",
						"          address2_longitude as double,",
						"          preferredequipmentidname as string,",
						"          cog_telesalesname as string,",
						"          address1_upszone as string,",
						"          aging30_base as decimal(38,4),",
						"          cog_mg_onceoffnooftktpaymentmethod as integer,",
						"          cog_rescuedatalastmodified as timestamp,",
						"          address2_country as string,",
						"          cog_medicalaidnumber as string,",
						"          cog_old_nextmedicaldate as timestamp,",
						"          cog_medicalallergies as string,",
						"          cog_mg_onceoffnooftktdatecreatedon as timestamp,",
						"          cog_administrationaccountyominame as string,",
						"          cog_car_onceoffnooftktmarketer as string,",
						"          statuscodename as string,",
						"          ftpsiteurl as string,",
						"          cog_isvolunteer as boolean,",
						"          cog_car_monthlynooftktmarketeryominame as string,",
						"          cog_communicationlanguagename as string,",
						"          transactioncurrencyidname as string,",
						"          msa_managingpartnerid as string,",
						"          yomifullname as string,",
						"          cog_mg_onceoffnooftktmarketeryominame as string,",
						"          cog_shorecrewmembership as integer,",
						"          owneridyominame as string,",
						"          cog_hepatitisbinoculationdate as timestamp,",
						"          cog_npodoc_tax_transname as string,",
						"          cog_medicalaidname as string,",
						"          cog_car_monthlystramtmarketername as string,",
						"          address2_line1 as string,",
						"          address1_name as string,",
						"          address2_upszone as string,",
						"          cog_inc_craft_maint_day as decimal(38,2),",
						"          donotsendmarketingmaterialname as string,",
						"          cog_sm_flickr as boolean,",
						"          exchangerate as decimal(38,10),",
						"          parentcustomeridtype as string,",
						"          cog_inc_craft_ops_night as decimal(38,2),",
						"          cog_car_onceoffnooftktstatus as integer,",
						"          originatingleadidyominame as string,",
						"          cog_car_onceoffnooftktdatepaid as timestamp,",
						"          adx_identity_lockoutenddate as timestamp,",
						"          cog_npodoc_tax_annuallyname as string,",
						"          address3_addresstypecodename as string,",
						"          lastonholdtime as timestamp,",
						"          cog_mg_monthlystramtdatecanceled as timestamp,",
						"          cog_transactionlastamount as decimal(38,2),",
						"          adx_confirmremovepassword as boolean,",
						"          donotphonename as string,",
						"          cog_car_monthlynooftktpaymentmethod as integer,",
						"          address2_name as string,",
						"          cog_address2street4 as string,",
						"          parentcontactid as string,",
						"          cog_mg_onceoffstramtstatusname as string,",
						"          processid as string,",
						"          emailaddress3 as string,",
						"          msdyn_isminor as boolean,",
						"          cog_accessddbstrlistsource as string,",
						"          cog_mg_monthlynooftktstatus as integer,",
						"          cog_codename as string,",
						"          cog_donotupsell as boolean,",
						"          owningbusinessunit as string,",
						"          cog_administrationcontactname as string,",
						"          cog_shorecrewnoofyears as integer,",
						"          adx_identity_locallogindisabledname as string,",
						"          address3_line3 as string,",
						"          statecode as integer,",
						"          address3_utcoffset as integer,",
						"          adx_timezone as integer,",
						"          cog_mg_monthlynooftktpaymentmethodname as string,",
						"          cog_administrationcontact as string,",
						"          cog_callcentreprojectname as string,",
						"          cog_car_onceoffstramtstatus as integer,",
						"          address3_latitude as double,",
						"          cog_npodoc_receiptname as string,",
						"          creditlimit_base as decimal(38,4),",
						"          aging60 as decimal(38,2),",
						"          cog_ingclient as string,",
						"          cog_inc_craft_events_day as decimal(38,2),",
						"          cog_sm_instagram as boolean,",
						"          adx_identity_accessfailedcount as integer,",
						"          cog_yellowfevervaccinename as string,",
						"          address3_freighttermscodename as string,",
						"          cog_car_monthlynooftktmarketername as string,",
						"          cog_medicalaidprinciplemembername as string,",
						"          cog_inc_craft_training_total as decimal(38,2),",
						"          cog_copytophysicalname as string,",
						"          creditlimit as decimal(38,2),",
						"          cog_serviceawardstatusname as string,",
						"          importsequencenumber as integer,",
						"          slaid as string,",
						"          cog_mg_monthlystramtpaymentmethod as integer,",
						"          cog_car_monthlystramtdatecanceled as timestamp,",
						"          customertypecode as integer,",
						"          cog_externalmarketerlead as string,",
						"          ownerid as string,",
						"          cog_sm_facebook as boolean,",
						"          adx_preferredlanguageidname as string,",
						"          adx_identity_passwordhash as string,",
						"          cog_oldreference as string,",
						"          educationcode as integer,",
						"          familystatuscode as integer,",
						"          cog_car_onceoffstramtstatusname as string,",
						"          parentcustomeridyominame as string,",
						"          cog_nextmedicaldate as timestamp,",
						"          cog_isvolunteername as string,",
						"          marketingonly as boolean,",
						"          cog_car_monthlystramt as decimal(38,2),",
						"          cog_alternatemobile as string,",
						"          cog_administrationaccountname as string,",
						"          preferredcontactmethodcode as integer,",
						"          transactioncurrencyid as string,",
						"          adx_identity_twofactorenabled as boolean,",
						"          cog_mg_monthlynooftktmarketer as string,",
						"          cog_medical_account as string,",
						"          defaultpricelevelid as string,",
						"          cog_mg_onceoffstramtmarketer as string,",
						"          cog_mg_onceoffstramtmarketeryominame as string,",
						"          owneridname as string,",
						"          donotbulkpostalmail as boolean,",
						"          cog_car_monthlystramtstatusname as string,",
						"          cog_car_onceoffstramt as decimal(38,2),",
						"          cog_religion as integer,",
						"          address2_latitude as double,",
						"          cog_mg_onceoffnooftktdateconverted as timestamp,",
						"          cog_inc_base_training_count as decimal(38,0),",
						"          modifiedbyexternalpartyyominame as string,",
						"          address2_telephone3 as string,",
						"          adx_identity_twofactorenabledname as string,",
						"          cog_contactclassification as integer,",
						"          parent_contactid as string,",
						"          versionnumber as long,",
						"          cog_fitnessrenewalintervalname as string,",
						"          donotemailname as string,",
						"          address1_line3 as string,",
						"          annualincome as decimal(38,2),",
						"          address1_telephone1 as string,",
						"          address1_telephone2 as string,",
						"          address1_telephone3 as string,",
						"          yomimiddlename as string,",
						"          cog_inc_base_training_total as decimal(38,2),",
						"          cog_mp_magazine_options as integer,",
						"          adx_profilealertdate as timestamp,",
						"          modifiedon as timestamp,",
						"          cog_medicalrenewal as integer,",
						"          address3_stateorprovince as string,",
						"          pager as string,",
						"          cog_mg_competitionname as string,",
						"          cog_npodoc_tax_annually as boolean,",
						"          aging30 as decimal(38,2),",
						"          cog_mg_monthlystramtdateconverted as timestamp,",
						"          adx_profilelastactivity as timestamp,",
						"          cog_sm_snapchat as boolean,",
						"          address1_composite as string,",
						"          mastercontactidyominame as string,",
						"          cog_car_monthlynooftktmarketer as string,",
						"          address1_freighttermscodename as string,",
						"          accountrolecodename as string,",
						"          cog_sm_twitter as boolean,",
						"          cog_contactisprinciplemedicalmember as boolean,",
						"          address3_shippingmethodcodename as string,",
						"          adx_profileisanonymous as boolean,",
						"          address3_fax as string,",
						"          cog_transactiontotalamount_state as integer,",
						"          address3_telephone1 as string,",
						"          cog_car_monthlystramtdatecreatedon as timestamp,",
						"          address3_telephone3 as string,",
						"          leadsourcecode as integer,",
						"          isbackofficecustomer as boolean,",
						"          suffix as string,",
						"          lastusedincampaign as timestamp,",
						"          cog_medicalconditions as string,",
						"          originatingleadidname as string,",
						"          modifiedbyyominame as string,",
						"          cog_driverslicensenumber as string,",
						"          address1_city as string,",
						"          cog_dutycrewname as string,",
						"          emailaddress1 as string,",
						"          followemailname as string,",
						"          cog_competitionpreference as integer,",
						"          cog_accessdb_docusno as string,",
						"          adx_identity_mobilephoneconfirmedname as string,",
						"          aging90 as decimal(38,2),",
						"          cog_medicalcontact as boolean,",
						"          cog_address1street4 as string,",
						"          adx_identity_lockoutenabled as boolean,",
						"          cog_race as integer,",
						"          isautocreate as boolean,",
						"          address1_shippingmethodcode as integer,",
						"          cog_accessdb_lngclient as string,",
						"          preferredequipmentid as string,",
						"          telephone3 as string,",
						"          createdbyexternalpartyyominame as string,",
						"          nickname as string,",
						"          jobtitle as string,",
						"          cog_car_onceoffnooftktdatecanceled as timestamp,",
						"          home2 as string,",
						"          firstname as string,",
						"          cog_driverslicenseexpirydate as timestamp,",
						"          cog_inc_base_events_total as decimal(38,2),",
						"          address1_addressid as string,",
						"          cog_mg_onceoffstramtdatepaid as timestamp,",
						"          msdyn_segmentid as string,",
						"          cog_lastmedicaldate as timestamp,",
						"          cog_callcentreproject as integer,",
						"          cog_agerounded as integer,",
						"          cog_sm_linkedinname as string,",
						"          msa_managingpartneridname as string,",
						"          timezoneruleversionnumber as integer,",
						"          address2_postofficebox as string,",
						"          cog_sm_youtubename as string,",
						"          cog_nextfitnessdate as timestamp,",
						"          cog_mp_magazine as boolean,",
						"          paymenttermscode as integer,",
						"          cog_bequestor as boolean,",
						"          preferredserviceidname as string,",
						"          cog_inc_craft_maint_night as decimal(38,2),",
						"          cog_mg_onceoffstramtdatecanceled as timestamp,",
						"          preferredcontactmethodcodename as string,",
						"          cog_medicalaidprinciplememberyominame as string,",
						"          cog_mg_onceoffnooftktstatus as integer,",
						"          cog_dmdreference as string,",
						"          cog_sm_snapchatname as string,",
						"          cog_contactisprinciplemedicalmembername as string,",
						"          cog_npodoc_equityname as string,",
						"          isprivatename as string,",
						"          address1_addresstypecodename as string,",
						"          donotbulkemailname as string,",
						"          cog_car_onceoffstramt_base as decimal(38,2),",
						"          preferredappointmentdaycode as integer,",
						"          cog_telesales as boolean,",
						"          cog_accessdb_strcurrentsource as string,",
						"          cog_sm_rssfeeds as boolean,",
						"          cog_inc_veh_training_count as decimal(38,0),",
						"          cog_car_onceoffnooftktstatusname as string,",
						"          cog_mp_anniversary_optionsname as string,",
						"          donotbulkpostalmailname as string,",
						"          cog_inc_base_maint_total as decimal(38,2),",
						"          cog_car_monthlystramt_base as decimal(38,2),",
						"          address2_addresstypecode as integer,",
						"          cog_serviceduration_date as timestamp,",
						"          teamsfollowed as integer,",
						"          cog_mg_onceoffstramtpaymentmethodname as string,",
						"          adx_organizationname as string,",
						"          cog_car_onceoffstramtdatepaid as timestamp,",
						"          aging60_base as decimal(38,4),",
						"          address2_county as string,",
						"          accountid as string,",
						"          cog_mp_datedbemailsent as timestamp,",
						"          cog_joindate as timestamp,",
						"          {preferredsystemuserid@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {modifiedby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_mg_onceoffnooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {owningteam@aadobjectid_membershiptype@azureactivedirectoryobjectid} as string,",
						"          {owningteam@aadobjectid_membershiptype@membershiptype} as integer,",
						"          {cog_mg_monthlystramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_car_monthlystramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {modifiedonbehalfby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {createdby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {createdonbehalfby@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_car_onceoffstramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {owninguser@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_administrationaccount@cog_no@cog_erpvendornumber} as string,",
						"          {cog_car_onceoffnooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {msa_managingpartnerid@cog_no@cog_erpvendornumber} as string,",
						"          {cog_mg_monthlynooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_mg_onceoffstramtmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {cog_car_monthlynooftktmarketer@aadobjectid@azureactivedirectoryobjectid} as string,",
						"          {accountid@cog_no@cog_erpvendornumber} as string",
						"     ),",
						"     store: 'dynamics',",
						"     format: 'dynamicsformat',",
						"     entity: 'contact',",
						"     timeout: 30,",
						"     deletable: false,",
						"     insertable: false,",
						"     updateable: false,",
						"     upsertable: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          parentcustomerid,",
						"          cog_contactnumber,",
						"          contactid,",
						"          emailaddress1,",
						"          firstname,",
						"          fullname,",
						"          lastname,",
						"          mobilephone,",
						"          salutation,",
						"          telephone1,",
						"          Targetparentcustomerlookup",
						"     )) ~> trainingcontact"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sandbox')]",
				"[concat(variables('factoryId'), '/linkedServices/training')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TEST Update DO MG Aggregation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Test DO Update",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CommonDataServiceForAppsSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "cog_donororderid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cog_donororderid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "cog_transactionid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cog_donortransaction",
											"type": "Guid"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "file_mg_aggregation",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SandboxDonorOrder",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/file_mg_aggregation')]",
				"[concat(variables('factoryId'), '/datasets/SandboxDonorOrder')]"
			]
		}
	]
}